footer {
    margin-top:200px;
    background-color:#F9E0AE;
    font-style:$base-font;

    &__title{
        color: #000;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .additional {
        color: rgba(0, 0, 0, 0.50);
        font-family: Poppins;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }



    li {
        color: #6C6C6C;
        font-family: Poppins;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    

}