
.header {
    background-color:#F9E0AE;
    padding:20px;
    gap: 3.5rem; 


    .navbar {
        color: #000;
        font-family: Poppins;
        font-size: $nav-font-size;
        font-style: normal;
        font-weight: 600; 
        font-family: $base-font;
        
        .nav-item{
            padding:0px 30px;
        }
        
        .contact-us-btn {
            font-family: $base-font;
            font-size: $nav-font-size;
            font-weight: 700; 
            color:white;
            border-radius: 0.625rem;
            background: #C24914; 
            width: 9.375rem;
            height: 2.4375rem;
            flex-shrink: 0; 
        }
    }
}
